{{!-- This is the base layout the HOMEPAGE. Interior pages will use layout - default. --}}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Title of the site and list of site pages">
    <meta name="keywords" content="Sarah Russell Website Developer, Frontend Website Developer, SKR Design LLC, Website Builder">
    <title>SKR Design LLC - Sarah K. Russell - Web Developer</title>
    <link href="https://fonts.googleapis.com/css?family=EB+Garamond:400,400i,700|Libre+Baskerville" rel="stylesheet">
    <link rel="stylesheet" href="{{root}}assets/css/app.css" />

    <!-- favicon -->
    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{root}}/assets/img/fav/apple-touch-icon-57x57.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{root}}/assets/img/fav/apple-touch-icon-114x114.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{root}}/assets/img/fav/apple-touch-icon-72x72.png" />
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{root}}/assets/img/fav/apple-touch-icon-144x144.png" />
    <link rel="apple-touch-icon-precomposed" sizes="120x120" href="{{root}}/assets/img/fav/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon-precomposed" sizes="152x152" href="{{root}}/assets/img/fav/apple-touch-icon-152x152.png" />
    <link rel="icon" type="image/png" href="{{root}}/assets/img/fav/favicon-32x32.png" sizes="32x32" />
    <link rel="icon" type="image/png" href="{{root}}/assets/img/fav/favicon-16x16.png" sizes="16x16" />
    <meta name="application-name" content="SKR Design LLC"/>
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{{root}}/assets/img/fav/mstile-144x144.png" />

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-10951458-3"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-10951458-3');
    </script>
    <!-- END  Global site tag - Google Analytics -->
  </head>
  <body id="body" class="light_mode">
    <div id="skiptocontent"><a href="#main_content">Skip navigation to main content</a></div>

    <div class="subpage__navmenu off-canvas position-right" id="offCanvas" data-off-canvas data-transition="overlay" data-reveal-on="large">

      <button class="close-button" aria-label="Close menu" type="button" data-close>
        <span aria-hidden="true"><span class="screen_reader_accessible">Close Menu</span>X</span>
      </button>
      <div class="subpage__navmenu_title">Chapters Menu</div>
        <nav aria-label="Main Navigation" role="navigation">
          <ol class="subpage__navmenu_ol menu vertical">
            {{> menu}}
          </ol>
        </nav>

    </div>

      <div class="main">
        <div class="off-canvas-content" data-off-canvas-content>
          {{!-- Pages you create in the src/pages/ folder are inserted here when the flattened page is created. --}}

          {{> body}}
        </div>
        <!-- end off-canvas-content -->
      </div>



    <script src="{{root}}assets/js/app.js"></script>
    {{> scripts}}
  </body>
</html>
